/*UPDATED ON 16 MAY 2023*/

*{
  margin:0px;
  padding:0px;
}

#body{
  margin-left:5px;
  margin-right:5px;
  position:relative;
  z-index: 1;
}


img{

}

header{
  margin-top:15px;
  padding-bottom: 10px;
  border-bottom:1px solid lightgrey;
}

#menu {
  width:30px;
  
  float:left;
}

#menu i{
    font-size: 30px;
    margin-left:10px;
  }

#title {
  width: 280px;

  float: left;
}

#title h2 {
  font-size: 25px;
  text-align: center;
}


#cart i{
  font-size:26px;
}


marquee{
  margin-top:5px;
}

#sidebar{
  width:70%;
  height:600px;
  background-color: black;
  color:white;
  font-size:20px;
  display:none;
  position:absolute;
  z-index: 2;
}

#sidebar li{
  
  margin-left:10px;
  margin-top:20px;
  border-bottom:1px solid white;
  margin-bottom: 15px;
  text-align: center;
}

#sidebar i{
  font-size:25px;
  position:relative;
  left:230px;
}



.pager h3{
  border:1px solid grey;
  text-align:center;
  padding:5px 3px 5px 3px;
  border-radius:35px;
  
}
.pbt{
  
  width:100px;
  float:left;
  
}


.images{
  width:80%;
  height:80%;
  margin-left:30px;
  margin-top:20px;
  box-shadow:5px 5px 5px grey;
  border-radius:35px;
}

.images img{
  width:100%;
  height:100%;
  border-radius:35px;
}

h3{
  margin-top:25px;
  margin-left:10px;
  
}

.newcollection{
  width:100%;
  height:60px;
  margin-top:10px;
  display:flex;
}

.newitems{
  width:60px;
  height:20px;
  border:2px solid black;
  border-radius:35px;
  padding:10px;
  margin-left:10px;
  text-align:center;
  background-color:white;
  color:black;
  padding-right:10px;
}

.iframe{
  margin-right: 5px;
  background-image: url(images/framebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nb{
  border:none;
}

.newitemswidth{
  width:100%;
  height:250px;
  display:flex;
  overflow:auto;
  
}

.newitemshimg{
  align-items: space-evenly;
}
.newitemshimg img{
  width:150px;
  height:250px;
  
}













footer{
  margin-top:50px;
  color:white;
}

.logo{
  width:100%;
  height:40px;
  display:flex;
  justify-content: center;
  margin-bottom: 15px;
  
}

.sociallogo img{
  width:50px;
  height:40px;
  padding-left:15px;
}

.footbox{
  width:100%;
  height:200px;
  display:flex;
  justify-content: center;
  background-color: black;
  color:white;
}

.fbox1{
  width:150px;
  height:300px;
  list-style-type:none;
  margin-left:10px;
  margin-top:10px;
  
}

.fbox1 ul{ 
  list-style-type:none;
}

.fbox2 ul {
  list-style-type: none;
}

.fbox2 {
  width: 150px;
  height: 300px;
  margin-left:50px;
  list-style-type:none;
  margin-top:10px;
  
}

.footertext{
  padding:5px;
}

.fcopyright{
  background-color: black;
  color:white;
  height:70px;

}

header .p{
  color:white;
}


a{
  text-decoration: none;
  color:black;
   font-size:13px;
   padding-top:5px;
   padding-bottom:5px;
   
   
}

a:hover{
  color:white;
  background-color: black;
}




nav{
  margin-top: 10px;
  border-bottom:1px solid black;
  padding-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  
}

.marquee{
  background-color:black;
  color:white;
}


.form{
  border: 2px solid  black;
  padding-top:30px;
  padding-bottom:30px;
  
}

.delivery{
  background-color: black;
  color:white;
}

.delivery h2{
  padding-top: 13px;
  
}

.contact{
  padding-bottom:2px;
}

.container{
  text-align:center;
  border-left:2px solid black;
  border-right:2px solid black;
  height:500px;
}
.container form{

  padding-top:50px;
}

.buttons2{
  margin-top: 30px;
  text-size:5px
  
}

.buttons2 a{
  border:2px solid black;
  padding:5px 10px 5px 10px;
  font-size:15px;
}

.buttons a{
  border:2px solid black;
  padding:5px;
  word-spacing: 10px;
}

.buttons action:link{
color:white;

background-color: black;
}


.container input{
  border:1px solid black;
}

.showhide button{
  padding:5px;
  background-color: black;
  color:white;
  margin-top:5px;
  width:50px;
  font-weight: 900px;
}

#body + input{
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 15px;
  font-weight:900px;
  border:2px solid black ;
}

.himages img{
  box-shadow: 5px 5px 5px grey;
  border-radius: 35px;
  
}